html {
  background-image: url("Guestbook.jpg");
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 32pt;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#Menu {
  font-family: "Courier New", Courier, monospace;
  font-size: 20pt;
  color: black;
  border-bottom: 2px solid white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.signup-btn {
  background: purple;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.signup-btn:hover {
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.form .form-control { margin-bottom: 40px; }
