html{
	background-image: url("Index.jpg");
	width: auto;
	height: auto;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 32pt;
  color: black;
  border-bottom: 2px solid white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
p{
  font-family: "Courier New", Courier, monospace;
  font-size: 16pt;
  color: black;
  text-align: center;
}
#first-paragraph {
	font-family: "Courier New", Courier, monospace;
	font-size: 16pt;
  color: black;
}
#Worldview {
	font-family: "Courier New", Courier, monospace;
	font-size: 16pt;
	color: black;
	text-align: center;
}
#classes {
	font-family: "Courier New", Courier, monospace;
	font-size: 16pt;
	color: black;
	text-align: center;
}
#interests {
	font-family: "Courier New", Courier, monospace;
	font-size: 16pt;
	color: black;
	text-align: center;
}
